.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: aliceblue;
  border: 1px solid rgb(209, 209, 209);
  border-top: none;
}

.pagination .pages {
  margin-left: 0.5rem;
}

.pagination button {
  font-size: 0.75rem;
  background-color: transparent;
  border: none;
  padding: 1rem;
  border-left: 1px solid rgb(209, 209, 209);
}
.pagination button:hover {
  cursor: pointer;
  color: white;
  background-color: #0288d1;
}

.pagination button:nth-child(2) {
  border: none;
}

.pagination-nav:nth-child(1) {
  border-left: none;
  border-right: 1px solid rgb(209, 209, 209) !important;
}

.active {
  background-color: #0288d1 !important;
  color: white !important;
}
