@import "../Variables/Variables.scss";

.sidebar {
  width: 100%;
  background-color: $sidebarGray;
  max-width: 250px;
  min-width: 200px;
  transition: 0.5s;
}

.sidebar-location-heading {
  display: flex;
  justify-content: center;
  border: none;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: $sidebarGray;
  color: white;
  padding: 1rem;
  margin-bottom: 0;
}

.sidebar-location-heading:hover {
  background-color: $sidebarGrayHover;
}

.active-product {
  color: white !important;
  background-color: $activeItem !important;
}

.narrow {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}

/* SIDEBAR LIST ITEM */
.sidebar-list {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid $mainBorder;
}

.sidebar-list-item {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-top: 1px solid $mainBorder;
}

.sidebar-list-item:hover {
  background-color: $listItemHover;
}

.full-height {
  display: flex;
  height: 100%;
  background-color: $sidebarGray;
}
