@import "../Variables/Variables.scss";

.sidebar {
  width: 35%;
  background-color: $sidebarGray;
  transition: 0.5s;
}

.sidebar-location-heading {
  display: flex;
  justify-content: space-between;
  border: none;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: $sidebarGray;
  color: white;
  padding: 1rem;
  margin-bottom: 0;
}

.sidebar-location-heading:hover {
  background-color: $sidebarGrayHover;
}

.sidebar-location-heading.inactive {
  background-color: $sidebarGrayHover;
}

.active-product {
  color: white !important;
  background-color: $activeItem !important;
}

/* SIDEBAR LIST ITEM */
.sidebar-list {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid $mainBorder;

  a {
    color: black;
    text-decoration: none;
  }
}

.sidebar-list-content{
  transition: 2s;
}

.sidebar-list-content.inactive {
height: 0px ;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;

}

.sidebar-list-content.active {
  transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.26s ease;
}

.sidebar-list-item {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-top: 1px solid $mainBorder;
}

.sidebar-list-item:hover {
  color: black;
  background-color: $listItemHover;
}

.full-height {
  display: flex;
  height: 100%;
  background-color: $sidebarGray;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: fit-content;
  }
}
