.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid rgb(209, 209, 209);
  margin-top: -1px;
  /* border-top: none; */
  /* margin-top: 2rem; */
}

[hidden].pagination {
  border: none !important;
}

.pagination .pages {
  margin-left: 0.5rem;
}

.pagination button {
  font-size: 0.75rem;
  background-color: transparent;
  border: none;
  padding: 0.75rem;
  border-left: 1px solid rgb(209, 209, 209);
}
.pagination button:hover {
  cursor: pointer;
  color: white;
  background-color: #2f2f2f;
}

.pagination button:nth-child(2) {
  border: none;
}

.pagination-nav:nth-child(1) {
  border-left: none;
  border-right: 1px solid rgb(209, 209, 209) !important;
}

.active {
  background-color: #2f2f2f !important;
  color: white !important;
}
