.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(47, 47, 47);
  border-bottom: 5px solid rebeccapurple;
}

.navigation h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.navigation button {
  margin: 0.5rem 1rem;
}
