@import "../Variables/Variables.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: $mainBlack;
  border-bottom: 5px solid $mainPurple;
  height: 76px;

  h1 {
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
  }
  button {
    margin: 0.5rem 1rem;
  }

  .navigation-actions{
    display: flex;
    align-items: center;
  }
}
