$mainBlack: #2f2f2f;
$mainPurple: rebeccapurple;
$mainBorder: #d2d2d2;

$sidebarGray: #424242;
$sidebarGrayHover: #707070;

$listItem: #ffffff;
$listItemHover: #f5f5f5;

$activeItem: #0288d1;

$mainCard: #fafafa;
