@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* GRID LAYOUT */
/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.navigation {
  grid-area: 1 / 1 / 2 / 10;
}

.sidebar {
  grid-area: 2 / 1 / 10 / 2;
}

.item {
  grid-area: 2 / 2 / 10 / 10;
}

.meta-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: 2 / 2 / 5 / 10;
}

.item-deatils {
  grid-area: 5 / 2 / 9 / 10;
}

.actions {
  grid-area: 9 / 2 / 10 / 10;
} */
